*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-Container{
  width: 100%;
   height: 60vh;
 /* border: 2px solid red; */

}
.footer-Body{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.heading{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.serviecs{
    width: 28vw;
    height: 50vh;
    /* border: 2px solid blue; */
    margin: 1rem;
    text-align: center;
}
.item-1{
    margin-top: 3rem;
    list-style: none;
    text-align: center;
    
}
.more{
    margin-top: 3rem;
    text-align: center;
}
.para1{
    margin-top: 1rem;
    letter-spacing: 1px;
    opacity: 0.5;
    width: 20vw;
    text-align: center;
    margin-left: 5rem;
}
.para2{
    margin-top: 1rem;
    color: blue;
    

}


