*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.last-Footer{
    width: 100%;
    height: 50vh;
    background-color: black;

}
.about-Footer p{
    width: 20rem;
    margin-top: 1.25rem;
    text-align: center;
    color: rgb(173, 177, 177);
}
.LastFooter-Body{
  display: flex;
  justify-content: center;
  justify-content: space-around;

}
.firstGalleries{
display: flex;
margin-top: 1rem;
  
}
.firstGalleries img{
    width: 80px;
    height:80px;
    margin: 2px;
}
.second-gallery{
display: flex;
}
.second-gallery img{
    width: 80px;
    height:80px;
    
}
.one {
  margin-top: 0.55rem;

}
.recent h1{
    width:10vw;

}
.recent h3,p{
    color: rgb(173, 177, 177);

}
.about-Footer h1{
    width: 20vw;
}
.about-Footer{
margin-top: 1rem;
    color: white;
    /* margin-left: 4rem; */
}
.recent{
    margin-top: 1rem;
    color: white;

}
.galleries{
margin-top: 1rem;
    
    color: white;

}